/** Resets **/
* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  letter-spacing: 0.05rem;
}

html {
  font-size: 16px;
}

textarea,
input,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

fieldset {
  border: none;
}

/** Colors **/

:root {
  /** colors shared between several elements **/
  --offshade-blue: hsl(218, 36%, 36%);
  --light-green: hsla(85, 59%, 58%, 1);

  /** backgrounds, headings and text **/
  --main-background-color-peach: hsla(20, 100%, 80%, 1);
  --faq-section-background-color: rgb(241, 157, 114);
  --main-text-color-white: hsla(0, 0%, 100%, 1);
  --main-heading-color-blue-shade: var(--offshade-blue);
  --input-groups-background-color-raisin-black-opacity: hsla(280, 9%, 20%, 0.75);
  --footer-background-black: hsl(0, 0%, 0%);

  /** button colors **/
  --confirm-button-green: var(--light-green);
  --confirm-button-hover-darkergreen: hsla(85, 59%, 45%, 1);

  /** link colors **/
  --link-unvisited-light-green: var(--light-green);
  --link-visited-yellow: hsl(60, 100%, 50%);
  --link-hover-blue-shade: var(--offshade-blue);

  /** Set to be able to animate to height:auto for details and summary elements **/
  interpolate-size: allow-keywords;
}

/** Page Grid Structure **/
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  justify-items: center;
  align-content: space-between;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
}
main {
  width: 30%;
}

footer {
  width: 100%;
}

/** Styling **/

/** Main structure styling **/
html,
body {
  background-color: var(--main-background-color-peach);
  color: var(--main-text-color-white);
  font-family: "Atma", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--main-heading-color-blue-shade);
}

h1 {
  font-size: 4rem;
  padding-bottom: 1rem;
}

h2 {
  font-size: 3.5rem;
  padding-bottom: 1rem;
  text-wrap: balance;
}

h3 {
  font-size: 3rem;
}

#faq {
  margin-top: 2rem;
}

footer {
  background-color: var(--footer-background-black);
  border-radius: 25px 25px 0 0;
  text-align: center;
  font-size: 1.5rem;
}

/** Story input structure **/
.input-groups h2 {
  margin: 1rem 0 0 0;
}
.question-answer {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  align-items: center;
  margin-bottom: 0.15rem;
}

/** Story input styling **/

.text-input {
  border-radius: 5px;
  padding-left: 0.2rem;
}

label {
  font-size: 1.5rem;
}

input,
textarea {
  font-size: 1.32rem;
}

input[type="text"],
input[type="number"],
textarea {
  transition: box-shadow 300ms ease 10ms;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus {
  outline: none;
  background-color: var(--main-background-color-peach);
  box-shadow: 0 0 0 3px yellow;
}

.descriptors {
  margin: 0.5rem 0;
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
  word-spacing: 0.3rem;
  color: var(--main-text-color-white);
  font-weight: normal;
}

.input-groups {
  padding: 0.5rem;
  background-color: var(--input-groups-background-color-raisin-black-opacity);
  border-radius: 20px;
  margin-bottom: 1.2rem;
}

textarea {
  width: 100%;
  border-radius: 5px;
}

textarea::placeholder {
  padding-left: 0.2rem;
}

/** Story styling **/
.story {
  margin: 1rem auto;
  text-align: left;
  background-color: var(--input-groups-background-color-raisin-black-opacity);
  padding: 2rem;
  border-radius: 0.5rem;
  font-size: 1.75rem;
  line-height: 1.5;
  word-spacing: 0.3rem;
}

/** FAQ section **/
details {
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.25s ease-in 25ms;
}

details:hover {
  background-color: var(--faq-section-background-color);
}

details::details-content {
  block-size: 0;
  overflow: hidden;
  transition: block-size 0.5s ease-out, content-visibility 1s;
  transition-behavior: allow-discrete;
}

details[open]::details-content {
  block-size: auto;
  background-color: var(--faq-section-background-color);
  border-radius: 0.5rem;
}

details summary {
  font-size: 2rem;
  padding-left: 0.5rem;
  color: var(--main-heading-color-blue-shade);
  width: 95%;
  display: flex; /** removes the arrow marker **/
  cursor: pointer;
}

details p {
  font-size: 1.5rem;
  padding-left: 0.5rem;
  color: var(--main-heading-color-blue-shade);
  width: 95%;
  margin-top: 0.5rem;
}

/** Anchor tag styling  + transitions **/
a {
  text-underline-offset: 0.25rem;
}

a:link {
  color: var(--link-unvisited-darkergreen);
}

a:visited {
  color: var(--link-visited-yellow);
}

a:hover {
  color: var(--link-hover-blue-shade);
  transition: color 0.25s ease-in 25ms;
}

a[href*="github"]::before {
  background-image: url("/static/github-mark-white.svg");
  background-size: 1.25rem 1.25rem;
  background-repeat: no-repeat;
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  content: "";
}

/** Logos used for links **/
.github-logo {
  height: 1.25rem;
}

/* Buttons */

#submit {
  background-color: var(--confirm-button-green);
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
}
#submit:hover {
  background-color: var(--confirm-button-hover-darkergreen);
  cursor: pointer;
  transition: background-color 300ms ease, box-shadow 300ms ease;
}

#submit:focus,
#submit:hover {
  box-shadow: 0 0 0 5px var(--main-heading-color-blue-shade);
}

/* Fonts */

.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

.atma-light {
  font-family: "Atma", system-ui;
  font-weight: 300;
  font-style: normal;
}

.atma-regular {
  font-family: "Atma", system-ui;
  font-weight: 400;
  font-style: normal;
}

.atma-medium {
  font-family: "Atma", system-ui;
  font-weight: 500;
  font-style: normal;
}

.atma-semibold {
  font-family: "Atma", system-ui;
  font-weight: 600;
  font-style: normal;
}

.atma-bold {
  font-family: "Atma", system-ui;
  font-weight: 700;
  font-style: normal;
}

@media only screen and (max-width: 1800px) {
  main {
    width: 50%;
  }
}

@media only screen and (max-width: 1280px) {
  main {
    width: 60%;
  }
}

@media only screen and (max-width: 1024px) {
  main {
    width: 75%;
  }
}

@media only screen and (max-width: 780px) {
  main {
    width: 80%;
  }

  h2 {
    font-size: 3.2rem;
  }
}

@media only screen and (max-width: 480px) {
  main {
    width: 95%;
  }

  .question-answer {
    display: grid;
    grid-template-columns: 1fr;
  }

  #story-heading {
    display: none;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.8rem;
    text-wrap: balance;
    padding: 0;
  }

  .descriptors {
    font-size: 2rem;
    margin: 0;
  }
}

@media only screen and (orientation: landscape) and (max-width: 1280px) {
  h1 {
    display: none;
  }
}
